<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.tesseractmobile.pocketbot">

    <uses-feature
            android:name="android.hardware.usb.accessory"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.usb.host"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.front"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.front.autofocus"
            android:required="false" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Fixing beacon bug -->
    <uses-permission-sdk-23
            tools:node="removeAll" />

    <application
            android:name=".activities.PocketBotApp"
            android:allowBackup="false"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:replace="android:allowBackup, android:icon">

        <!-- Required for Nearby Connections API -->
        <meta-data
                android:name="com.google.android.gms.nearby.connection.SERVICE_ID"
                android:value="@string/service_id" />

        <!-- Google Maps API key -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${mapsApiKey}"/>

        <!-- Sets up face tracking api -->
        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="face" />

        <!-- Main activity, launches other activities and starts the Wizard -->
        <activity android:name=".activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".activities.UsbAccessoryFragmentActivity"
                android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                    android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                    android:resource="@xml/accessory_filter" />
        </activity>
        <activity
                android:name=".activities.UsbSerialFragmentActivity"
                android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                    android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                    android:resource="@xml/android_filter" />
            <!--
              ATTENTION: This intent was auto-generated. Follow instructions at
              https://g.co/AppIndexing/AndroidStudio to publish your Android app deep links.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                  ATTENTION: This data URL was auto-generated. We recommend that you use the HTTP scheme.
                  TODO: Change the host or pathPrefix as necessary.
                -->
                <data
                        android:host="pocketbot.tesseractmobile.com"
                        android:pathPrefix="/usbserialfragment"
                        android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.BluetoothFragmentActivity"
                android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
                android:name=".activities.AiFragmentActivity"
                android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
                android:name=".activities.BluetoothClassicFragmentActivity"
                android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activities.TagFaceFragmentActivity" />
        <activity android:name=".activities.FirebaseFaceFragmentActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.BaseFaceFragmentActivity" />
        <activity android:name=".activities.wizard.WizardActivity" />

        <service android:name=".service.UsbConnectionService" />
        <service android:name=".service.UsbSerialService" />
        <service android:name=".service.GoogleVoiceRecognitionService" />
        <service android:name=".service.HoundVoiceRecognitionService" />
        <service android:name=".service.BluetoothService" />
        <service android:name=".service.BluetoothClassicService" />

        <meta-data
                android:name="com.crashlytics.ApiKey"
                android:value="bb6712a0fbca591f242e814fd8c7237024082c5a" />

    </application>

</manifest>